@*@model IEnumerable<Product>*@
@model Tresorit.ViewModels.ProductViewModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-3" style="float:left">
            <img src="https://cdn.technologyadvice.com/wp-content/uploads/2019/01/tresorit-logo-300x300.png" width="200" height="200" alt="...">
            <div>
                <h3>@Model.PartitonKey</h3>
                <h5>Description:</h5>
            </div>
            <div>
                @Model.Description
            </div>
            <div style="margin-top: 20px; ">
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </div>
        <div class="col-md-7">
            <div>
                <h5>Reviews:</h5>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">New Review</button>
                <div id="reviewsDivs" style="margin-top:15px">
                    @foreach (var item in Model.Products)
                    {
                        @if (item.Rating != null)
                        {
                            <div class="container" style="margin-bottom:15px">
                                @if (item.Reviewer != null)
                                {
                                    <div>@item.Reviewer  -  @item.Timestamp.ToString("g")</div>
                                }
                                else
                                {
                                    <div><i>Anonyums</i> - @item.Timestamp.ToString("g")</div>
                                }
                                <div>
                                    @item.Review
                                </div>

                                <div>
                                    @for (int i = 0; i < item.Rating; i++)
                                    {
                                        <span class="fas fa-star"></span>
                                    }
                                    @for (int i = (int)item.Rating; i < 5; i++)
                                    {
                                        <span class="far fa-star"></span>
                                    }
                                </div>
                                <hr />
                            </div>
                        }
                    }
                </div>
            </div>
            <button id="toggleButton" class="btn btn-link">Show all</button>
        </div>
    </div>
</div>


@*@using (Html.BeginForm("Save", "Home", new { @onsubmit = "return VerifyRating()" }))*@
@using (Html.BeginForm("Save", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return VerifyReview()" }))
{
    <div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add Review</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        @Html.LabelFor(m => m.Reviewer)
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Reviewer, new { @id = "ReviewerArea", @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Review)
                        <br />

                        @Html.LabelFor(m => m.Review)
                        <div class="input-group">
                            @Html.TextAreaFor(m => m.Review, new { @id = "ReviewArea", @class = "form-control", @rows = 5 })
                        </div>
                        @Html.ValidationMessageFor(m => m.Review)
                        <br />
                        <p>Select a rating:</p>
                        <div onmouseout="RatingSelected()">
                            <span id="span1" onmouseout="RateOut(1)" onmouseover="RateOver(1)" onclick="RateClick(1)" class="far fa-star" style="font-size:130%"></span>
                            <span id="span2" onmouseout="RateOut(2)" onmouseover="RateOver(2)" onclick="RateClick(2)" class="far fa-star" style="font-size:130%"></span>
                            <span id="span3" onmouseout="RateOut(3)" onmouseover="RateOver(3)" onclick="RateClick(3)" class="far fa-star" style="font-size:130%"></span>
                            <span id="span4" onmouseout="RateOut(4)" onmouseover="RateOver(4)" onclick="RateClick(4)" class="far fa-star" style="font-size:130%"></span>
                            <span id="span5" onmouseout="RateOut(5)" onmouseover="RateOver(5)" onclick="RateClick(5)" class="far fa-star" style="font-size:130%"></span>
                        </div>
                        <div>
                            <input type="hidden" name="rating" id="lblRating" value="0" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("PartitionKey", Model.PartitonKey)
    </div>
}


<script type="text/javascript">

    $(document).ready(function () {
        var toggleDivs = function () {
            $("#reviewsDivs").each(function () {
                $(this).children('div').toggle().filter(':lt(5)').show();
            });
        }

        toggleDivs();

        $("#toggleButton").click(function () {
            $(this).text() === 'Show all' ? $(this).text('Show less') : $(this).text('Show all');
            toggleDivs();
        });
    });

    function RateOut(rating) {
        for (var i = 1; i <= rating; i++) {
            $("#span" + i).attr('class', 'far fa-star');
        }
    }
    function RateOver(rating) {
        for (var i = 1; i <= rating; i++) {
            $("#span" + i).attr('class', 'fas fa-star');
        }
    }
    function RateClick(rating) {
        $("#lblRating").val(rating);
        for (var i = 1; i <= rating; i++) {
            $("#span" + i).attr('class', 'fas fa-star');
        }
        for (var i = rating + 1; i <= 5; i++) {
            $("#span" + i).attr('class', 'far fa-star');
        }
    }
    function RatingSelected() {
        var rating = $("#lblRating").val();
        for (var i = 1; i <= rating; i++) {
            $("#span" + i).attr('class', 'fas fa-star');
        }
    }
    function VerifyReview() {
        var rating = $("#lblRating").val();
        var textboxLength = $("#ReviewArea").val().length;

        if (rating == "0") {
            alert("Please select a rating!")
            return false;
        }
        else if (textboxLength == "0") {
            alert("The review textbox can't be empty!")
            return false;
        }
        else if (textboxLength > 500) {
            alert("The review can be only 500 characters long!")
            return false;
        }
        else {

            return true;
        }
    }

</script>
